/registry_settings/tortoisegit-install.reg
/registry_settings/tortoisegit-install1.reg
/registry_settings/tortoisegit-install2.reg
/registry_settings/tortoisegit-uninstall.reg
/registry_settings/tortoisegit.reg
/registry_settings/tortoisegitmerge.reg
/registry_settings/tortoisesvn.reg
